<!-- base.html có thể tái sử dụng ở các page khác
<!DOCTYPE html>
<html lang="vi">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css"/>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" />  
    
</head>

<body>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
        
          <a class="navbar-brand mb-0 h1" href="#">
            <img src="https://getbootstrap.com//docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="50" height="50" class="d-inline-block align-top">
            K-Mart
          </a>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ui class="navbar-nav">
                  <li class="nav-item active">
                      <a href="#" class="nav-link">
                          Home
                      </a>
                      
                  </li>
                  <li class="nav-item active">
                    <a href="#" class="nav-link">
                        Contact
                    </a>
                    
                </li>
                <li class="nav-item active">
                    <a href="#" class="nav-link">
                        Bye
                    </a>
                    
                </li>
              </ui>


          </div>
        
    </nav>

    
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>  
</body> -->

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css"/>
        <title>
            {% block title %}Ngoc's List{% endblock %}

        </title>
    </head>
    <body>
        <div class="sidenavbar">
            <a href="/home">Home</a>
            <a href="/create">Create</a>
            <a href="/1">View</a>
            

        </div>
        <div id="content"class="main" >
            {% block content %}

            {% endblock %}

        </div>

    </body>
</html>