{% extends 'main/base.html' %}
{% load static %}

{% block linkcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/chitietsanpham.css' %}" />

{% endblock %}
{% block title%}{{data.product_name}}{% endblock %}

{% block tieude %}
<h1 class="chitietsanpham-title">Chi tiết sản phẩm</h1>
<p class="chitietsanpham-navigate">{{data.cat_name}} > {{data.product_name}}</p>
{% endblock %}

{% block sanpham %}
<div class="chitiet_header">
    <div class="row">
        <div class="col-12 col-md-6">
            <img src="/media/{{data.image}}" class="img-fluid img-banner mx-auto d-block" />

        </div>
        <div class="col-12 col-md-6 price-foodname">
            <p>{{data.product_name}}</p>
            <h3>{{data.price}}</h3>
            <button type="button" class="btn btn-primary themvaogio-btn ">Thêm vào giỏ hàng</button>
            <button type="button" class="btn btn-primary muangay-btn ">Mua ngay</button>

        </div>
    </div>
    
</div>

<div class="mota">
    <h2 class="header_mota">Mô tả sản phẩm</h2>
    <pre class="p_noidung">{{data.product_des}}</pre>
</div>


{% endblock %}