{% extends 'main/base.html' %}
{% load static %}

{% block linkcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/chitietsanpham.css' %}" />

{% endblock %}
{% block title%} Chi tiết sản phẩm {% endblock %}

{% block tieude %}
<h1 class="header-h1">Chi tiết sản phẩm</h1>
<h6>Thực phẩm ăn liền > Bánh gạo cay</h6>
{% endblock %}

{% block sanpham %}
<div class="chitiet_header">
    <div>
        <img src="{%static 'images\giavisot.png'%}" class="ptc_giavisot" />
    </div>
    <div class="thongtin_header">
        <h2>Food name</h2>
        <h3>100.000đ</h3>
        <button name="button" type="button" class="themgh_btn">Thêm vào giỏ hàng</button>
        <button name="button" type="button" class="muangay_btn">Mua ngay</button>
    </div>
</div>

<div class="mota">
<h2 class="header_mota">Mô tả sản phẩm</h2>
<p class="p_noidung">
    Em cần được chữa lành tâm hồn sau vụ cá Koi :((
Hai năm trước xem chương trình STT cực kì ngưỡng mộ người vợ tào khang ấy, bây giờ xem lại mắt rưng rưng.
Gái có công, chồng vẫn phụ!!! Sự nghèo khó của đàn ông thử thách trái tim phụ nữ, còn sự giàu có lại thử thách chính bản thân anh ta. Rõ là: "Ở đời, đâu có cô gái hay người thứ ba nào xuất hiện khi chồng người ta đang lập nghiệp, đang khó khăn, đang không có xu dính túi đâu.”
</p>
</div>


{% endblock %}