{% extends 'main/base.html' %} 
{% load static %}


{% block linkcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/chitietkcook.css' %}" />

{% endblock %} 

{% block title%} {{data.title_post}} {% endblock %}

{% block tieude %}
<p class="text-start navigate-kcook">Kcook > {{data.title_post}}</p>
<h2 class = "kcook-h2">{{data.title_post}}</h2>
{% endblock %}

{% block images %}
<div class="kcook-image">
    <img
        src="/media/{{data.image}}"
        class="img-fluid img-banner mx-auto d-block"
        alt=""
    />
</div>
{% endblock %} 

{% block sanpham %}
<div class="nguyenlieu">
    <h2>Nguyên liệu</h2>
    <pre class="chitiet">{{data.nguyenlieu}}</pre>
</div>
<div class="cachlam">
    <h2>Cách làm</h2>
    <pre class="chitiet">{{data.cachlam}}</pre>
</div>

{% endblock %}

