
{% extends 'main/base.html' %} 
{% load static %}


{% block linkcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />

{% endblock %} 
{% block images %}
<img
  src="{%static 'images\banner.png' %}"
  class="img-fluid img-banner mx-auto d-block"
  alt=""
/>
{% endblock %} 
{% block title%}Trang chủ K-Mart{% endblock %} 
{% block sanpham %}
<div class="sanpham-home">
  <!-- San pham ban chay -->
  <div class="sanphambanchay">
    <a href="#" ><h1>Sản phẩm bán chạy</h1></a>
    <div class="card-group card-sanphambanchay">
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.0.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.0.slug}}">
            <h5 class="card-title">{{data.0.product_name}}</h5>
            <p class="card-text">{{data.0.price}}</p>
          </a>
        </div>
      </div>
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.5.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.5.slug}}">
            <h5 class="card-title">{{data.5.product_name}}</h5>
            <p class="card-text">{{data.5.price}}</p>
          </a>
        </div>
      </div>
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.9.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.9.slug}}">
            <h5 class="card-title">{{data.9.product_name}}</h5>
            <p class="card-text">{{data.9.price}}</p>
          </a>
        </div>
      </div>
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.20.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.20.slug}}">
            <h5 class="card-title">{{data.20.product_name}}</h5>
            <p class="card-text">{{data.20.price}}</p>
          </a>
        </div>
      </div>
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.18.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.18.slug}}">
            <h5 class="card-title">{{data.18.product_name}}</h5>
            <p class="card-text">{{data.18.price}}</p>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="giavivasot">
    <a href="/giavisot/"><h1>Gia vị & Sốt</h1></a>
    <div class="card-group card-sanphambanchay">
      <div class="card" style="max-width: 21rem">
        <img
          src="{%static 'images\giavisot.png' %}"
          class="card-img-top giavisot-pic"
          alt="..."
        />
       
      </div>
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.13.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.13.slug}}">
            <h5 class="card-title">{{data.13.product_name}}</h5>
            <p class="card-text">{{data.13.price}}</p>
          </a>
        </div>
      </div>
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.14.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.14.slug}}">
            <h5 class="card-title">{{data.14.product_name}}</h5>
            <p class="card-text">{{data.14.price}}</p>
          </a>
        </div>
      </div>
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.15.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.15.slug}}">
            <h5 class="card-title">{{data.15.product_name}}</h5>
            <p class="card-text">{{data.15.price}}</p>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="banhkeo">
    <a href="#"><h1>Bánh kẹo</h1></a>
    <div class="card-group card-banhkeo">
      <div class="card" style="max-width: 21rem">
        <img
          src="{%static 'images\banhkeo.png' %}"
          class="card-img-top"
          alt="..."
        />
        <!-- <div class="card-body">
            <h5 class="card-title">Food Name</h5>
            <p class="card-text">
              50.000đ
            </p>
          </div> -->
      </div>
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.11.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.11.slug}}">
            <h5 class="card-title">{{data.11.product_name}}</h5>
            <p class="card-text">{{data.11.price}}</p>
          </a>
        </div>
      </div>
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.20.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.20.slug}}">
            <h5 class="card-title">{{data.20.product_name}}</h5>
            <p class="card-text">{{data.20.price}}</p>
          </a>
        </div>
      </div>
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.28.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.28.slug}}">
            <h5 class="card-title">{{data.28.product_name}}</h5>
            <p class="card-text">{{data.28.price}}</p>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="thucphamanlien">
    <a href="/thucphamanlien/"><h1>Thực phẩm ăn liền</h1></a>
    <div class="card-group card-thucphamanlien">
      <div class="card" style="max-width: 21rem">
        <img
          src="{%static 'images\anlien.png' %}"
          class="card-img-top"
          alt="..."
        />
        <!-- <div class="card-body">
            <h5 class="card-title">Food Name</h5>
            <p class="card-text">
              50.000đ
            </p>
          </div> -->
      </div>
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.21.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.21.slug}}">
            <h5 class="card-title">{{data.21.product_name}}</h5>
            <p class="card-text">{{data.21.price}}</p>
          </a>
        </div>
      </div>
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.17.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.17.slug}}">
            <h5 class="card-title">{{data.17.product_name}}</h5>
            <p class="card-text">{{data.7.price}}</p>
          </a>
        </div>
      </div>
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.18.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.18.slug}}">
            <h5 class="card-title">{{data.18.product_name}}</h5>
            <p class="card-text">{{data.18.price}}</p>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="douong">
    <a href="#"><h1>Đồ uống</h1></a>
    <div class="card-group card-douong">
      <div class="card" style="max-width: 21rem">
        <img
          src="{%static 'images\douong.png' %}"
          class="card-img-top"
          alt="..."
        />
        <!-- <div class="card-body">
            <h5 class="card-title">Food Name</h5>
            <p class="card-text">
              50.000đ
            </p>
          </div> -->
      </div>
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.23.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.23.slug}}">
            <h5 class="card-title">{{data.23.product_name}}</h5>
            <p class="card-text">{{data.23.price}}</p>
          </a>
        </div>
      </div>
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.24.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.24.slug}}">
            <h5 class="card-title">{{data.24.product_name}}</h5>
            <p class="card-text">{{data.24.price}}</p>
          </a>
        </div>
      </div>
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.25.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.25.slug}}">
            <h5 class="card-title">{{data.25.product_name}}</h5>
            <p class="card-text">{{data.25.price}}</p>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="rongbien">
    <a href="#"><h1>Rong biển</h1></a>
    <div class="card-group card-rongbien">
      <div class="card" style="max-width: 21rem">
        <img
          src="{%static 'images\rongbien.png' %}"
          class="card-img-top"
          alt="..."
        />
        <!-- <div class="card-body">
            <h5 class="card-title">Food Name</h5>
            <p class="card-text">
              50.000đ
            </p>
          </div> -->
      </div>
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.12.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.12.slug}}">
            <h5 class="card-title">{{data.12.product_name}}</h5>
            <p class="card-text">{{data.12.price}}</p>
          </a>
        </div>
      </div>
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.9.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.9.slug}}">
            <h5 class="card-title">{{data.9.product_name}}</h5>
            <p class="card-text">{{data.9.price}}</p>
          </a>
        </div>
      </div>
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.10.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.10.slug}}">
            <h5 class="card-title">{{data.10.product_name}}</h5>
            <p class="card-text">{{data.10.price}}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
