
{% extends 'main/base.html' %} 
{% load static %}


{% block linkcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />

{% endblock %} 
{% block images %}
<img
  src="{%static 'images\banner.png' %}"
  class="img-fluid img-banner mx-auto d-block"
  alt=""
/>
{% endblock %} 
{% block title%}Trang chủ K-Mart{% endblock %} 
{% block sanpham %}
<div class="sanpham-home">
  <!-- San pham ban chay -->
  <div class="sanphambanchay">
    <a href="#" ><h1>Sản phẩm bán chạy</h1></a>
    <div class="card-group card-sanphambanchay">
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.4.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.4.slug}}">
            <h5 class="card-title">{{data.4.product_name}}</h5>
            <p class="card-text">{{data.4.price}}</p>
          </a>
        </div>
      </div>
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.13.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.13.slug}}">
            <h5 class="card-title">{{data.13.product_name}}</h5>
            <p class="card-text">{{data.13.price}}</p>
          </a>
        </div>
      </div>
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.2.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.2.slug}}">
            <h5 class="card-title">{{data.2.product_name}}</h5>
            <p class="card-text">{{data.2.price}}</p>
          </a>
        </div>
      </div>
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.10.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.10.slug}}">
            <h5 class="card-title">{{data.10.product_name}}</h5>
            <p class="card-text">{{data.10.price}}</p>
          </a>
        </div>
      </div>
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.7.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.7.slug}}">
            <h5 class="card-title">{{data.7.product_name}}</h5>
            <p class="card-text">{{data.7.price}}</p>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="giavivasot">
    <a href="/giavisot/"><h1>Gia vị & Sốt</h1></a>
    <div class="card-group card-sanphambanchay">
      <div class="card" style="max-width: 21rem">
        <img
          src="{%static 'images\giavisot.png' %}"
          class="card-img-top giavisot-pic"
          alt="..."
        />
       
      </div>
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.3.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.3.slug}}">
            <h5 class="card-title">{{data.3.product_name}}</h5>
            <p class="card-text">{{data.3.price}}</p>
          </a>
        </div>
      </div>
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.4.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.4.slug}}">
            <h5 class="card-title">{{data.4.product_name}}</h5>
            <p class="card-text">{{data.4.price}}</p>
          </a>
        </div>
      </div>
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.5.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.5.slug}}">
            <h5 class="card-title">{{data.5.product_name}}</h5>
            <p class="card-text">{{data.5.price}}</p>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="banhkeo">
    <a href="#"><h1>Bánh kẹo</h1></a>
    <div class="card-group card-banhkeo">
      <div class="card" style="max-width: 21rem">
        <img
          src="{%static 'images\banhkeo.png' %}"
          class="card-img-top"
          alt="..."
        />
        <!-- <div class="card-body">
            <h5 class="card-title">Food Name</h5>
            <p class="card-text">
              50.000đ
            </p>
          </div> -->
      </div>
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.11.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.11.slug}}">
            <h5 class="card-title">{{data.11.product_name}}</h5>
            <p class="card-text">{{data.11.price}}</p>
          </a>
        </div>
      </div>
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.12.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.12.slug}}">
            <h5 class="card-title">{{data.12.product_name}}</h5>
            <p class="card-text">{{data.12.price}}</p>
          </a>
        </div>
      </div>
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.13.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.13.slug}}">
            <h5 class="card-title">{{data.13.product_name}}</h5>
            <p class="card-text">{{data.13.price}}</p>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="thucphamanlien">
    <a href="/thucphamanlien/"><h1>Thực phẩm ăn liền</h1></a>
    <div class="card-group card-thucphamanlien">
      <div class="card" style="max-width: 21rem">
        <img
          src="{%static 'images\anlien.png' %}"
          class="card-img-top"
          alt="..."
        />
        <!-- <div class="card-body">
            <h5 class="card-title">Food Name</h5>
            <p class="card-text">
              50.000đ
            </p>
          </div> -->
      </div>
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.6.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.6.slug}}">
            <h5 class="card-title">{{data.6.product_name}}</h5>
            <p class="card-text">{{data.6.price}}</p>
          </a>
        </div>
      </div>
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.7.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.7.slug}}">
            <h5 class="card-title">{{data.7.product_name}}</h5>
            <p class="card-text">{{data.7.price}}</p>
          </a>
        </div>
      </div>
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.8.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.8.slug}}">
            <h5 class="card-title">{{data.8.product_name}}</h5>
            <p class="card-text">{{data.8.price}}</p>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="douong">
    <a href="#"><h1>Đồ uống</h1></a>
    <div class="card-group card-douong">
      <div class="card" style="max-width: 21rem">
        <img
          src="{%static 'images\douong.png' %}"
          class="card-img-top"
          alt="..."
        />
        <!-- <div class="card-body">
            <h5 class="card-title">Food Name</h5>
            <p class="card-text">
              50.000đ
            </p>
          </div> -->
      </div>
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.9.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.9.slug}}">
            <h5 class="card-title">{{data.9.product_name}}</h5>
            <p class="card-text">{{data.9.price}}</p>
          </a>
        </div>
      </div>
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.10.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.10.slug}}">
            <h5 class="card-title">{{data.10.product_name}}</h5>
            <p class="card-text">{{data.10.price}}</p>
          </a>
        </div>
      </div>
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.14.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.14.slug}}">
            <h5 class="card-title">{{data.14.product_name}}</h5>
            <p class="card-text">{{data.14.price}}</p>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="rongbien">
    <a href="#"><h1>Rong biển</h1></a>
    <div class="card-group card-rongbien">
      <div class="card" style="max-width: 21rem">
        <img
          src="{%static 'images\rongbien.png' %}"
          class="card-img-top"
          alt="..."
        />
        <!-- <div class="card-body">
            <h5 class="card-title">Food Name</h5>
            <p class="card-text">
              50.000đ
            </p>
          </div> -->
      </div>
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.0.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.0.slug}}">
            <h5 class="card-title">{{data.0.product_name}}</h5>
            <p class="card-text">{{data.0.price}}</p>
          </a>
        </div>
      </div>
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.1.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.1.slug}}">
            <h5 class="card-title">{{data.1.product_name}}</h5>
            <p class="card-text">{{data.1.price}}</p>
          </a>
        </div>
      </div>
      <div class="card" style="max-width: 21rem">
        <img
        src="/media/{{data.2.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <a href="/chitietsanpham-list/{{data.2.slug}}">
            <h5 class="card-title">{{data.2.product_name}}</h5>
            <p class="card-text">{{data.2.price}}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
