
{% extends 'main/base.html' %} 
{% load static %}


{% block linkcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />

{% endblock %} 
{% block images %}
<img
  src="{%static 'images\banner.png' %}"
  class="img-fluid img-banner mx-auto d-block"
  alt=""
/>
{% endblock %} 
{% block title%}Trang chủ K-Mart{% endblock %} 
{% block sanpham %}
<div class="sanpham-home">
  <!-- San pham ban chay -->
  <div class="sanphambanchay">
    <a href="#" class="home-title"><h1>Sản phẩm bán chạy</h1></a>
    {% if banchay %}
  <div class="row banchay-page justify-content-center ">
    {% for item in banchay %}
        <div class="col-sm-3 col-md-3 banchay-col" style="max-width: 18rem">
          <div class="card">
            <img
              src="/media/{{item.image}}"
              class="card-img-top"
              alt="..."
            />
          <div class="card-body text-center">
              <a href="/chitietsanpham-list/{{item.slug}}">
                  <h5 class="card-title ">{{item.product_name}}</h5>
                  <p class="card-text">{{item.price}}</p>
              </a>
          </div>
        </div>
     
  </div>
    {% endfor %}
  {% endif %}
  </div>

    
<!-- Gia vi sot -->
   

</div>

  <div class="giavivasot">
    <a href="/giavisot/" class="home-title"><h1>Gia vị & Sốt</h1></a>
    {% if giavisot %}
  <div class="row giavisot-page justify-content-center ">
    {% for item in giavisot %}
        <div class="col-sm-3 col-md-3 giavisot-col" style="max-width: 18rem">
          <div class="card">
            <img
              src="/media/{{item.image}}"
              class="card-img-top"
              alt="..."
            />
          <div class="card-body text-center">
              <a href="/chitietsanpham-list/{{item.slug}}">
                  <h5 class="card-title ">{{item.product_name}}</h5>
                  <p class="card-text">{{item.price}}</p>
              </a>
          </div>
        </div>
     
  </div>
    {% endfor %}
  {% endif %}
    </div>

  </div>

  <div class="banhkeo">
    <a href="/banhkeo/" class="home-title"><h1>Bánh kẹo</h1></a>
    {% if banhkeo %}
  <div class="row banhkeo-page justify-content-center ">
    {% for item in banhkeo %}
        <div class="col-sm-3 col-md-3 banhkeo-col" style="max-width: 18rem">
          <div class="card">
            <img
              src="/media/{{item.image}}"
              class="card-img-top"
              alt="..."
            />
          <div class="card-body text-center">
              <a href="/chitietsanpham-list/{{item.slug}}">
                  <h5 class="card-title ">{{item.product_name}}</h5>
                  <p class="card-text">{{item.price}}</p>
              </a>
          </div>
        </div>
     
  </div>
    {% endfor %}
  {% endif %}

  </div>

  <div class="thucphamanlien">
    <a href="/thucphamanlien/" class="home-title"><h1>Thực phẩm ăn liền</h1></a>
    {% if anlien %}
  <div class="row anlien-page justify-content-center ">
    {% for item in anlien %}
        <div class="col-sm-3 col-md-3 douong-col" style="max-width: 18rem">
          <div class="card">
            <img
              src="/media/{{item.image}}"
              class="card-img-top"
              alt="..."
            />
          <div class="card-body text-center">
              <a href="/chitietsanpham-list/{{item.slug}}">
                  <h5 class="card-title ">{{item.product_name}}</h5>
                  <p class="card-text">{{item.price}}</p>
              </a>
          </div>
        </div>
     
  </div>
    {% endfor %}
  {% endif %}
  </div>

  <div class="douong">
    <a href="/douong/" class="home-title"><h1>Đồ uống</h1></a>
    {% if douong %}
  <div class="row douong-page justify-content-center ">
    {% for item in douong %}
        <div class="col-sm-3 col-md-3 douong-col" style="max-width: 18rem">
          <div class="card">
            <img
              src="/media/{{item.image}}"
              class="card-img-top"
              alt="..."
            />
          <div class="card-body text-center">
              <a href="/chitietsanpham-list/{{item.slug}}">
                  <h5 class="card-title ">{{item.product_name}}</h5>
                  <p class="card-text">{{item.price}}</p>
              </a>
          </div>
        </div>
     
  </div>
    {% endfor %}
  {% endif %}
  </div>

  <div class="rongbien">
    <a href="/rongbien/" class="home-title"><h1>Rong biển</h1></a>
    {% if rongbien %}
  <div class="row rongbien-page justify-content-center ">
    {% for item in rongbien %}
        <div class="col-sm-3 col-md-3 rongbien-col" style="max-width: 18rem">
          <div class="card">
            <img
              src="/media/{{item.image}}"
              class="card-img-top"
              alt="..."
            />
          <div class="card-body text-center">
              <a href="/chitietsanpham-list/{{item.slug}}">
                  <h5 class="card-title ">{{item.product_name}}</h5>
                  <p class="card-text">{{item.price}}</p>
              </a>
          </div>
        </div>
     
  </div>
    {% endfor %}
  {% endif %}
  </div>
</div>

{% endblock %}
