{% extends 'main/base.html' %} 
{% load static %}


{% block linkcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/kcook.css' %}" />

{% endblock %} 
{% block title%} Nấu ăn cùng Kcook {% endblock %} 

{% block images %}
<div class="slider">
    <div class="slides">
      <input type="radio" name="radio-btn" id="radio1" >
      <input type="radio" name="radio-btn" id="radio2">
      <input type="radio" name="radio-btn" id="radio3">
      <input type="radio" name="radio-btn" id="radio4">
      <input type="radio" name="radio-btn" id="radio5">
      <div class="slide first ">
        <img src="{%static 'images\kcook-banner.png' %}" alt="" class="img-fluid img-banner mx-auto d-block">
  
      </div>
      <div class="slide ">
        <img src="{%static 'images\kcook-2-banner.png' %}" alt="" class="img-fluid img-banner mx-auto d-block">
  
      </div>
      <div class="slide">
        <img src="{%static 'images\kcook-3-banner.png' %}" alt="" class="img-fluid img-banner mx-auto d-block">
  
      </div>
      <div class="slide">
        <img src="{%static 'images\kcook-4-banner.png' %}" alt="" class="img-fluid img-banner mx-auto d-block">
  
      </div>
      <div class="slide">
        <img src="{%static 'images\kcook-5-banner.png' %}" alt="" class="img-fluid img-banner mx-auto d-block">
  
      </div>
      <div class="navigation-auto">
        <div class="auto-btn1"></div>
        <div class="auto-btn2"></div>
        <div class="auto-btn3"></div>
        <div class="auto-btn4"></div>
        <div class="auto-btn5"></div>
      </div>
  
    </div>
    <div class="navigation-manual">
      <label for="radio1" class="manual-btn"></label>
      <label for="radio2" class="manual-btn"></label>
      <label for="radio3" class="manual-btn"></label>
      <label for="radio4" class="manual-btn"></label>
      <label for="radio5" class="manual-btn"></label>
  
  
    </div>
  </div>
  
{% endblock %} 

{% block sanpham %}
<div class="kcook">
    <h1>
    MÓN NGON CÙNG KCOOK
    </h1>
    <div class="container kcook-post" >
        <div class="row">
            {% if data %}
                {% for cat in data %}
            <div class="col-lg-4 col-md-12 col-sm-12 ">
                <img
                    src="/media/{{cat.image}}"
                    class="img-fluid img-banner mx-auto d-block "
                    alt=""
                    />
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 kcook-post-text ">
                <a href="/kcook/kcook-post-list/{{cat.id}}"><h2>{{cat.title_post}}</h2></a>
                <p>{{cat.introduction}}</p>
            </div>
                {% endfor %}
            {% endif %}
        </div>

        <!-- <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <img
                    src="{%static 'images\kcook-post.png' %}"
                    class="img-fluid img-banner mx-auto d-block "
                    alt=""
                    />
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 kcook-post-text">
                <a href="#"><h2>CÙNG LÀM THỬ BIBIMBAP NÀO!</h2></a>
                <p>Không chỉ có làn sóng Hallyu của Hàn Quốc, đã gây ảnh hưởng mạnh đến giới trẻ Việt Nam. Mà, ấm thực
                    xứ Hàn cũng vô cùng cuốn hút giới trẻ. Một trong những món ăn, quen thuộc nhất của Hàn Quốc nối tiếng
                    ngon đó là Bibimbap (Cơm trộn Hàn Quốc). Đây là, món ăn khá phổ biến và đặc biệt dễ làm. 
                </p>
            </div>
        </div> -->
        <!-- <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <img
                    src="{%static 'images\kcook-post.png' %}"
                    class="img-fluid img-banner mx-auto d-block "
                    alt=""
                    />
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 kcook-post-text">
                <a href="#"><h2>CÙNG LÀM THỬ BIBIMBAP NÀO!</h2></a>
                <p>Không chỉ có làn sóng Hallyu của Hàn Quốc, đã gây ảnh hưởng mạnh đến giới trẻ Việt Nam. Mà, ấm thực
                    xứ Hàn cũng vô cùng cuốn hút giới trẻ. Một trong những món ăn, quen thuộc nhất của Hàn Quốc nối tiếng
                    ngon đó là Bibimbap (Cơm trộn Hàn Quốc). Đây là, món ăn khá phổ biến và đặc biệt dễ làm. 
                </p>
            </div>
        </div> -->
        <!-- <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 kcook-post-text">
                <img
                    src="{%static 'images\kcook-post.png' %}"
                    class="img-fluid img-banner mx-auto d-block "
                    alt=""
                    />
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 kcook-post-text">
                <a href="#"><h2>CÙNG LÀM THỬ BIBIMBAP NÀO!</h2></a>
                <p>Không chỉ có làn sóng Hallyu của Hàn Quốc, đã gây ảnh hưởng mạnh đến giới trẻ Việt Nam. Mà, ấm thực
                    xứ Hàn cũng vô cùng cuốn hút giới trẻ. Một trong những món ăn, quen thuộc nhất của Hàn Quốc nối tiếng
                    ngon đó là Bibimbap (Cơm trộn Hàn Quốc). Đây là, món ăn khá phổ biến và đặc biệt dễ làm. 
                </p>
            </div>
        </div> -->
        <!-- <div class="row">
            <div class="col-xl-4 col-md-12 col-sm-12">
                <img
                    src="{%static 'images\kcook-post.png' %}"
                    class="img-fluid img-banner mx-auto d-block "
                    alt=""
                    />
            </div>
            <div class="col-xl-8 col-md-12 col-sm-12 kcook-post-text">
                <a href="#"><h2>CÙNG LÀM THỬ BIBIMBAP NÀO!</h2></a>
                <p>Không chỉ có làn sóng Hallyu của Hàn Quốc, đã gây ảnh hưởng mạnh đến giới trẻ Việt Nam. Mà, ấm thực
                    xứ Hàn cũng vô cùng cuốn hút giới trẻ. Một trong những món ăn, quen thuộc nhất của Hàn Quốc nối tiếng
                    ngon đó là Bibimbap (Cơm trộn Hàn Quốc). Đây là, món ăn khá phổ biến và đặc biệt dễ làm. 
                </p>
            </div>
        </div> -->

        <!-- <div class="d-grid gap-2 col-4 ms-auto">
            <p class="btn btn-xemtiep text-center" type="button">
                Xem tiếp >>
            </p>
            
        </div> -->
        <!-- <button type="button" class="btn btn-primary d-grid gap-2 col-4 mx-auto btn-xemtiep" >
            Xem tiếp
        </button> -->
    </div>

</div>
{% endblock %}

<!-- {% block checkoutjs %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js" ></script>
<script type="text/javascript">
    $(".col").slice(0, 3).show()
    $(".btn-xemtiep").on("click", function(){
        $(".col:hidden").slice(0, 3).slideDown()
        if ($(".col:hidden").length == 0) {
            $(".btn-xemtiep").fadeOut('slow')
        }
    })
</script>
{% endblock %} -->