{% extends 'main/base.html' %} 
{% load static %}


{% block linkcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/kcook.css' %}" />

{% endblock %} 
{% block title%} Nấu ăn cùng Kcook {% endblock %} 

{% block images %}
<div class="kcook-banner">
    <img
        src="{%static 'images\kcook-banner.png' %}"
        class="img-fluid img-banner mx-auto d-block"
        alt=""
    />
</div>
{% endblock %} 

{% block sanpham %}
<div class="kcook">
    <h1>
    MÓN NGON CÙNG KCOOK
    </h1>
    <div class="container kcook-post" >
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <img
                    src="{%static 'images\kcook-post.png' %}"
                    class="img-fluid img-banner mx-auto d-block "
                    alt=""
                    />
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12">
                <a href="#"><h2>CÙNG LÀM THỬ BIBIMBAP NÀO!</h2></a>
                <p>Không chỉ có làn sóng Hallyu của Hàn Quốc, đã gây ảnh hưởng mạnh đến giới trẻ Việt Nam. Mà, ấm thực
                    xứ Hàn cũng vô cùng cuốn hút giới trẻ. Một trong những món ăn, quen thuộc nhất của Hàn Quốc nối tiếng
                    ngon đó là Bibimbap (Cơm trộn Hàn Quốc). Đây là, món ăn khá phổ biến và đặc biệt dễ làm. 
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <img
                    src="{%static 'images\kcook-post.png' %}"
                    class="img-fluid img-banner mx-auto d-block "
                    alt=""
                    />
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12">
                <a href="#"><h2>CÙNG LÀM THỬ BIBIMBAP NÀO!</h2></a>
                <p>Không chỉ có làn sóng Hallyu của Hàn Quốc, đã gây ảnh hưởng mạnh đến giới trẻ Việt Nam. Mà, ấm thực
                    xứ Hàn cũng vô cùng cuốn hút giới trẻ. Một trong những món ăn, quen thuộc nhất của Hàn Quốc nối tiếng
                    ngon đó là Bibimbap (Cơm trộn Hàn Quốc). Đây là, món ăn khá phổ biến và đặc biệt dễ làm. 
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <img
                    src="{%static 'images\kcook-post.png' %}"
                    class="img-fluid img-banner mx-auto d-block "
                    alt=""
                    />
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12">
                <a href="#"><h2>CÙNG LÀM THỬ BIBIMBAP NÀO!</h2></a>
                <p>Không chỉ có làn sóng Hallyu của Hàn Quốc, đã gây ảnh hưởng mạnh đến giới trẻ Việt Nam. Mà, ấm thực
                    xứ Hàn cũng vô cùng cuốn hút giới trẻ. Một trong những món ăn, quen thuộc nhất của Hàn Quốc nối tiếng
                    ngon đó là Bibimbap (Cơm trộn Hàn Quốc). Đây là, món ăn khá phổ biến và đặc biệt dễ làm. 
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <img
                    src="{%static 'images\kcook-post.png' %}"
                    class="img-fluid img-banner mx-auto d-block "
                    alt=""
                    />
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12">
                <a href="#"><h2>CÙNG LÀM THỬ BIBIMBAP NÀO!</h2></a>
                <p>Không chỉ có làn sóng Hallyu của Hàn Quốc, đã gây ảnh hưởng mạnh đến giới trẻ Việt Nam. Mà, ấm thực
                    xứ Hàn cũng vô cùng cuốn hút giới trẻ. Một trong những món ăn, quen thuộc nhất của Hàn Quốc nối tiếng
                    ngon đó là Bibimbap (Cơm trộn Hàn Quốc). Đây là, món ăn khá phổ biến và đặc biệt dễ làm. 
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-12 col-sm-12">
                <img
                    src="{%static 'images\kcook-post.png' %}"
                    class="img-fluid img-banner mx-auto d-block "
                    alt=""
                    />
            </div>
            <div class="col-xl-8 col-md-12 col-sm-12 kcook-post-text">
                <a href="#"><h2>CÙNG LÀM THỬ BIBIMBAP NÀO!</h2></a>
                <p>Không chỉ có làn sóng Hallyu của Hàn Quốc, đã gây ảnh hưởng mạnh đến giới trẻ Việt Nam. Mà, ấm thực
                    xứ Hàn cũng vô cùng cuốn hút giới trẻ. Một trong những món ăn, quen thuộc nhất của Hàn Quốc nối tiếng
                    ngon đó là Bibimbap (Cơm trộn Hàn Quốc). Đây là, món ăn khá phổ biến và đặc biệt dễ làm. 
                </p>
            </div>
        </div>

        <div class="d-grid gap-2 col-4 ms-auto">
            <p class="btn btn-xemtiep" type="button">
                Xem tiếp >>
            </p>
            
        </div>
    </div>

</div>
{% endblock %}