{% extends 'main/base.html' %}
{% load static %}

{% block linkcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}" />

{% endblock %}

{% block title%} Tìm kiếm "{{searched}}" {% endblock %}

<style>
   @font-face {
    font-family: quicksand-light;
    src: url(../font/Quicksand-Light.ttf);
  }
  @font-face {
    font-family: quicksand;
    src: url(../font/Quicksand-Regular.ttf);
  }
  @font-face {
    font-family: quicksand-bold;
    src: url(../font/Quicksand-Bold.ttf);
  }
  @font-face {
    font-family: quicksand-medium;
    src: url(../font/Quicksand-Medium.ttf);
  }
  @font-face {
    font-family: reenie-beenie;
    src: url(../font/ReenieBeanie-Regular.ttf);
  }
</style>

{% block tieude %}
{% if searched %}
<h3>Bạn đã tìm kiếm: "{{searched}}"</h3>
<br>
<!-- <a href="/chitietsanpham-list/{{product.slug}}"> {{ product.product_name }}</a><br> -->
<div class="product-page">
   <div class="row product-page-row justify-content-center ">
      {% for product in product %}
      <div class="col-sm-3 col-md-3 product-col" style="max-width: 18rem">
         <div class="card">
            <img src="/media/{{product.image}}" class="card-img-top" alt="..." />
            <div class="card-body text-center">
               <a href="/chitietsanpham-list/{{product.slug}}" style="text-decoration: none; color: black">
                  <h5 class="card-title" style="font-family: quicksand-bold;">{{product.product_name}}</h5>
                  <p class="card-text" 
                  style="color:red;font-size:30px; font-weight: bold; font-family: quicksand-bold;">{{product.price}}</p>
               </a>
            </div>
         </div>
      </div>
      {% endfor %}
   </div>
</div>
   {% else %}
   <h3>Hey! Bạn đã quên nhập sản phẩm cần tìm kiếm sản phẩm rồi!</h3>
   {% endif %}


   {% endblock %}