{% extends 'main/base.html' %} 
{% load static %}

{% block linkcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/thongtinmh.css' %}" />

{% endblock %} 
{% block secondnav %} {% endblock %}

{% block title%} Thông tin mua hàng {% endblock %} 

{% block tieude %}
<h1 class="text-center thongtinmuahang-title">Thông tin mua hàng</h1>
{% endblock %}

{% block sanpham %}
<form  class="was-validated form-muahang">
   <div class="mb-3 ">
     <label for="hovaten" class="form-label">1. Họ và Tên</label>
     <input type="text" class="form-control form-control-lg" id="hovaten" placeholder="Hãy nhập Họ và Tên" name="hovaten" required>
     <div class="valid-feedback">Valid.</div>
     <div class="invalid-feedback">Hãy điền đầy đủ thông tin</div>
   </div>
   <div class="mb-3">
     <label for="sdt" class="form-label">2. Số điện thoại</label>
     <input type="text" class="form-control form-control-lg" id="sdt" placeholder="Hãy nhập Số điện thoại" name="sdt" required>
     <div class="valid-feedback">Valid.</div>
     <div class="invalid-feedback">Hãy điền đầy đủ thông tin</div>
   </div>

   <div class="mb-3">
      <label for="email" class="form-label">2. Email</label>
      <input type="email" class="form-control form-control-lg" id="email" placeholder="Hãy nhập Email" name="email" required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Hãy điền đầy đủ thông tin</div>
    </div>
    <label for="" class="mb-3">4. Hình thức thanh toán</label>
    <div class="form-check mb-3">
      <input class="form-check-input" type="radio" name="thanhtoan" id="thanhtoankhinhanhang">
      <label class="form-check-label" for="thanhtoankhinhanhang">
        Thanh toán khi nhận hàng
      </label>
    </div>
    <div class="form-check mb-3">
      <input class="form-check-input" type="radio" name="thanhtoan" id="thanhtoanonline" checked>
      <label class="form-check-label" for="thanhtoanonline">
        Thanh toán chuyển khoản
      </label>
    </div>
    <div class="col-lg-6">
			<div class="box-element">
				<hr>
				<h3>Order Summary</h3>
				<hr>
				{% for item in items %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="/media/{{item.product.image}}" width="100px"></div>
					<div style="flex:2"><p>{{item.product.product_name}}</p></div>
					<div style="flex:1"><p>{{item.product.price}}</p></div>
					<div style="flex:1"><p>x{{item.quantity}}</p></div>
				</div>
				{% endfor %}
				<h5>Items:   {{cartItems}}</h5>
				<h5>Total:   {{order.get_cart_total}}</h5>
			</div>
		</div>

    <div class="d-grid gap-2 col-4 mx-auto mt-5">
         <button type="submit" class="btn btn-primary btn-lg btn-nopform">Gửi</button>
    </div>
 </form>

 
{% endblock %}

{% block checkoutjs %}


{% endblock %}