{% extends 'main/base.html' %} 
{% load static %}


{% block linkcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/thucphamanlien.css' %}" />

{% endblock %} 
{% block title%} Thực phẩm ăn liền {% endblock %} 

{% block images %}
<div class="kcook-banner">
    <img
        src="{%static 'images\anlien-banner.png' %}"
        class="img-fluid img-banner mx-auto d-block"
        alt=""
    />
</div>
{% endblock %} 

{% block sanpham %}
<div class="thucphamanlien-page">
    <div class="card-group card-thucphamanlien-page">
        <div class="card" style="max-width: 21rem">
            <img
              src="{%static 'images\noto-v1_shallow-pan-of-food.png' %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <a href="#">
                <h5 class="card-title">Food Name</h5>
                <p class="card-text">50.000đ</p>
              </a>
            </div>
        </div>
        <div class="card" style="max-width: 21rem">
            <img
              src="{%static 'images\noto-v1_shallow-pan-of-food.png' %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
                <a href="#">
                    <h5 class="card-title">Food Name</h5>
                    <p class="card-text">50.000đ</p>
                  </a>
            </div>
          </div>
          <div class="card" style="max-width: 21rem">
            <img
              src="{%static 'images\noto-v1_shallow-pan-of-food.png' %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
                <a href="#">
                    <h5 class="card-title">Food Name</h5>
                    <p class="card-text">50.000đ</p>
                  </a>
            </div>
          </div>
          <div class="card" style="max-width: 21rem">
            <img
              src="{%static 'images\noto-v1_shallow-pan-of-food.png' %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
                <a href="#">
                    <h5 class="card-title">Food Name</h5>
                    <p class="card-text">50.000đ</p>
                  </a>
            </div>
          </div>
          <div class="card" style="max-width: 21rem">
            <img
              src="{%static 'images\noto-v1_shallow-pan-of-food.png' %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
                <a href="#">
                    <h5 class="card-title">Food Name</h5>
                    <p class="card-text">50.000đ</p>
                  </a>
            </div>
          </div>
    </div>


    <div class="card-group card-giavisot-page">
        <div class="card" style="max-width: 21rem">
            <img
              src="{%static 'images\noto-v1_shallow-pan-of-food.png' %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
                <a href="#">
                    <h5 class="card-title">Food Name</h5>
                    <p class="card-text">50.000đ</p>
                  </a>
            </div>
        </div>
        <div class="card" style="max-width: 21rem">
            <img
              src="{%static 'images\noto-v1_shallow-pan-of-food.png' %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
                <a href="#">
                    <h5 class="card-title">Food Name</h5>
                    <p class="card-text">50.000đ</p>
                  </a>
            </div>
          </div>
          <div class="card" style="max-width: 21rem">
            <img
              src="{%static 'images\noto-v1_shallow-pan-of-food.png' %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
                <a href="#">
                    <h5 class="card-title">Food Name</h5>
                    <p class="card-text">50.000đ</p>
                  </a>
            </div>
          </div>
          <div class="card" style="max-width: 21rem">
            <img
              src="{%static 'images\noto-v1_shallow-pan-of-food.png' %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
                <a href="#">
                    <h5 class="card-title">Food Name</h5>
                    <p class="card-text">50.000đ</p>
                  </a>
            </div>
          </div>
          <div class="card" style="max-width: 21rem">
            <img
              src="{%static 'images\noto-v1_shallow-pan-of-food.png' %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
                <a href="#">
                    <h5 class="card-title">Food Name</h5>
                    <p class="card-text">50.000đ</p>
                  </a>
            </div>
          </div>
    </div>



    <div class="card-group card-giavisot-page">
        <div class="card" style="max-width: 21rem">
            <img
              src="{%static 'images\noto-v1_shallow-pan-of-food.png' %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
                <a href="#">
                    <h5 class="card-title">Food Name</h5>
                    <p class="card-text">50.000đ</p>
                  </a>
            </div>
        </div>
        <div class="card" style="max-width: 21rem">
            <img
              src="{%static 'images\noto-v1_shallow-pan-of-food.png' %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
                <a href="#">
                    <h5 class="card-title">Food Name</h5>
                    <p class="card-text">50.000đ</p>
                  </a>
            </div>
          </div>
          <div class="card" style="max-width: 21rem">
            <img
              src="{%static 'images\noto-v1_shallow-pan-of-food.png' %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
                <a href="#">
                    <h5 class="card-title">Food Name</h5>
                    <p class="card-text">50.000đ</p>
                  </a>
            </div>
          </div>
          <div class="card" style="max-width: 21rem">
            <img
              src="{%static 'images\noto-v1_shallow-pan-of-food.png' %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
                <a href="#">
                    <h5 class="card-title">Food Name</h5>
                    <p class="card-text">50.000đ</p>
                  </a>
            </div>
          </div>
          <div class="card" style="max-width: 21rem">
            <img
              src="{%static 'images\noto-v1_shallow-pan-of-food.png' %}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
                <a href="#">
                    <h5 class="card-title">Food Name</h5>
                    <p class="card-text">50.000đ</p>
                  </a>
            </div>
          </div>
    </div>



</div>

{% endblock %}