@font-face {
  font-family: quicksand-light;
  src: url(../font/Quicksand-Light.ttf);
}
@font-face {
  font-family: quicksand;
  src: url(../font/Quicksand-Regular.ttf);
}
@font-face {
  font-family: quicksand-bold;
  src: url(../font/Quicksand-Bold.ttf);
}
@font-face {
  font-family: quicksand-medium;
  src: url(../font/Quicksand-Medium.ttf);
}
@font-face {
  font-family: reenie-beenie;
  src: url(../font/ReenieBeanie-Regular.ttf);
}
/* *{
  box-sizing: border-box;
  
}
.navbar-brand {
  color: #000;
  font-size: 50px !important;
  font-family: reenie-beenie;
  text-align: center;
}
.navbar-brand img {
  width: 60px;
  height: 60px;
}
.fa-cart-shopping {
  width: 50px;
  float: right;
  width: 100px;
  height: 85px;
  color: #000 !important;
}
.fa-cart-shopping span {
  display: inline-block;
}

.navbar-first{
  background-color: #fff691 !important;

}

.navbar-brand {
  padding: 5px;
}
.container-fluid {
  width: 2000px;
}
.TC-navbar .container-fluid {
  background: #fff691 !important;
  padding: 5px 20px;
}


.navbar-nav input {
  text-indent: 33px;
  color: gray !important;
  width: 500px !important;
  height: 50px;
  font-size: 15px;
  float: right;
  font-family: quicksand;
  background: #FFFFFF;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}
.icon-search {
  position: absolute;
  color: #000;
  margin-top: 15px;
  margin-left: 135px;
  font-size: 20px;
}
.navbar-cart {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin-left: 80px;
}
.fa-cart-shopping {
  padding-top: 15px;
  vertical-align: middle;
  align-items: center;
}

.navbar-second {
  color: #000;
}
.list-group-item {
  
  font-family: quicksand;
  color: #000;
}
.nav-link{
  font-family: quicksand-bold;
  text-decoration: none;
  color: #000 !important;
  border: none  !important;
  margin-right: 80px;
}

.img-banner{
  align-items: center;
  display: flex;
  justify-content: center;
}
.footer{
  text-align: center;
  justify-items: center;
  background-color: #fff691;
  padding: 0;
  max-height: 120px;
  margin: 0;
  font-size: 27px;
  font-family: quicksand-bold;
}
.footer h5{
 margin: 0;
 margin-bottom: 0 !important;
} */

*{
  box-sizing: border-box;
  
}
.navbar-brand{
  color: black !important;
  font-family:reenie-beenie;
  font-size: 50px !important;
}

.nav-link{
  color:black !important;
  font-family: quicksand-bold;
}
.navbar-brand:hover{
  color: #DC2E07 !important;
}
.nav-link:hover, .nav-link:active{
  color: red !important;
}
.navbar-brand img {
  width: 60px;
  height: 60px;
}
.form-control, .btn{
  height: 40px;
  padding-left: 20px;
  border: 0.5px solid rgb(184, 184, 184) !important;
 
}
.form-control{
  margin-left: 5px;
}
.btn{
  width: auto;
  background-color: white !important;
}
.btn:hover{
  background-color: #f4bf00 !important;
}
.navbar-cart a{
  color: black !important;
  font-size: 30px;
  position: relative;
  bottom: 8px;
  left: 40px;
}
.fa-cart-shopping {
  padding-top: 15px;
  vertical-align: middle;
  align-items: center;
}
.navbar-toggler{
  background-color: black !important;
}