@font-face {
    font-family: quicksand-light;
    src: url(../font/Quicksand-Light.ttf);
}
@font-face {
    font-family: quicksand;
    src: url(../font/Quicksand-Regular.ttf);
}
@font-face {
    font-family: quicksand-bold;
    src: url(../font/Quicksand-Bold.ttf);
}
@font-face {
    font-family: quicksand-medium;
    src: url(../font/Quicksand-Medium.ttf);
}
@font-face {
    font-family: reenie-beenie;
    src: url(../font/ReenieBeanie-Regular.ttf);
}
/* .navbar{
    background-color: #FFF691;
} */
a{
    font-size: 64px;
    font-family: reenie-beenie;
    text-decoration: none;
    color: #000;
}