@font-face {
    font-family: quicksand-light;
    src: url(../font/Quicksand-Light.ttf);
}

@font-face {
    font-family: quicksand;
    src: url(../font/Quicksand-Regular.ttf);
}

@font-face {
    font-family: quicksand-bold;
    src: url(../font/Quicksand-Bold.ttf);
}

@font-face {
    font-family: quicksand-medium;
    src: url(../font/Quicksand-Medium.ttf);
}

@font-face {
    font-family: reenie-beenie;
    src: url(../font/ReenieBeanie-Regular.ttf);
}
.chitiet_header{
    padding: 50px;
    margin: 50px;
}
.chitietsanpham-title{
    font-size: 50px;
    font-family: quicksand-bold;
    padding: 10px;
}
.chitietsanpham-navigate{
    font-family: quicksand-bold;
    color: #4A4646;
    font-size: 16px;
    padding: 10px;
}
.header_mota{
    font-family: quicksand-bold;
    font-size: 50px;
    padding: 10px;
}
.p_noidung{
    font-family: quicksand;
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    border-radius: 8px;
    border: 1px solid #000000;
    padding: 20px;
}
.price-foodname p{
    font-family: quicksand-bold;
    font-size: 45px;

}
.price-foodname h3{
    color: #D70000;
    font-family: quicksand-bold;
    font-size: 50px;
}
.themvaogio-btn{
    background-color: #FCF58B;
    color: #000000;
    background: #FCF58B;
    font-size: 30px;
    font-family: quicksand-bold;
    margin-top: 30px;
    margin-right: 30px;
    border-color: #FCF58B;
}
.themvaogio-btn:hover{
    background-color: #FCF58B;
    color: #000000;
    background: #FCF58B;
    font-size: 30px;
    font-family: quicksand-bold;
  
    border-color: #FCF58B;
}
.muangay-btn{
    background-color: #F18958;
    color: #fff;
    background: #F18958;
    font-size: 30px;
    font-family: quicksand-bold;
    margin-top: 30px;
    border-color: #F18958;

}
.muangay-btn:hover{
    background-color: #F18958;
    color: #fff;
    background: #F18958;
    font-size: 30px;
    font-family: quicksand-bold;
   
    border-color: #F18958;

}
