@font-face {
    font-family: quicksand-light;
    src: url(../font/Quicksand-Light.ttf);
  }
  @font-face {
    font-family: quicksand;
    src: url(../font/Quicksand-Regular.ttf);
  }
  @font-face {
    font-family: quicksand-bold;
    src: url(../font/Quicksand-Bold.ttf);
  }
  @font-face {
    font-family: quicksand-medium;
    src: url(../font/Quicksand-Medium.ttf);
  }
  @font-face {
    font-family: reenie-beenie;
    src: url(../font/ReenieBeanie-Regular.ttf);
  }


.img-banner{
    padding: 10px;
    width: 1600px;
}
.card-group{
    padding: 30px !important;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.card-img-top {
    width: 100%;
    height: 17vw;
    object-fit: cover;
}
.card{
    margin: 10px !important;
}
.sanpham-home a{
    text-decoration: none ;
    color: black;
    font-family: quicksand-bold;
    

}
.sanpham-home .card-body a{
  font-size: 20px;
  text-decoration: none ;
    color: black;
    font-family: quicksand-bold;
}
.sanphambanchay{
  margin: 20px;
}
.giavivasot{
  margin: 20px;
}
.thucphamanlien {
  margin: 20px;
}
.banhkeo{
  margin: 20px;
}
.douong{
  margin: 20px;

}
.rongbien{
  margin: 20px;
}
