@font-face {
    font-family: quicksand-light;
    src: url(../font/Quicksand-Light.ttf);
}

@font-face {
    font-family: quicksand;
    src: url(../font/Quicksand-Regular.ttf);
}

@font-face {
    font-family: quicksand-bold;
    src: url(../font/Quicksand-Bold.ttf);
}

@font-face {
    font-family: quicksand-medium;
    src: url(../font/Quicksand-Medium.ttf);
}

@font-face {
    font-family: reenie-beenie;
    src: url(../font/ReenieBeanie-Regular.ttf);
}

.header-h1{
    font-family: quicksand-bold;
    text-align: center;
}
.thongtin{
    padding-left: 250px;
    padding-right:250px;
}
.input_{
    width:90%;
    border-radius: 10px;
    border: 0.5px solid rgb(79, 79, 79);
    height: 35px;
    font-family: quicksand;
    padding-left: 10px;
}
h6{
    padding-bottom: 4px;
    padding-top: 10px;
    font-family: quicksand-bold;
}
.thanhtoan{
    font-family: quicksand;
    padding-bottom: 5px;
}
span{
    font-family: quicksand-medium;
    padding-left:5px;
    padding-bottom: 5px;
}
.btn_dathang{
    height: 40px;
    width: 300px;
    margin: 20px;
    position: relative;
    left: 220px;
    border: 0.5px solid #FFA726;
    border-radius: 10px;
    font-family: quicksand-bold;
    background-color: #FFA726;
}
